/* Custom CSS */
body {
    background-color: #f4f4f4;
    padding-top: 70px; /* Ensure proper spacing for fixed navbar */
}

.login-form {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}
/* Custom CSS */
.card {
    margin-bottom: 20px;
}

.card-img-top {
    height: 400px;
    width: 400px;
    object-fit: cover;
}
/* Custom CSS checkout page*/
.container {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 20px;
}
