/* Custom CSS */
.bg-image {
     /* Ensure proper spacing for fixed navbar */
     background-image:url('../images/background-wallpaper.jpg');
}

.homepage{
background-color: #f9d83f;
    color: black;
    }
.login-form {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/*.form-group button:hover {
    background-color: #0056b3;
}*/
/* Custom CSS */
.card {
    margin-bottom: 20px;
}

.card-img-top {
    height: 20vw;
    width: 100%;
    object-fit: cover;
}
@media (max-width: 780px) {
    .card-img-top{
        width: 100%;
        height: 50vw;
        object-fit: cover;
    }
}


/* Custom CSS checkout page*/
.container {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 20px;
}
.colorful-jumbotron {
    background: linear-gradient(rgb(15, 212, 247),rgb(12, 227, 227),black) ;      
    color: black;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  /* carousel styling */
  .carousel-item {
    height: 25rem;
    max-width: 100vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .welcome-carousel-image1{
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
    background-image:url('../images/wallpaperflare-cropped.jpg');
  }
  
  .welcome-carousel-image2{
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
    background-image:url('../images/wallpaperflare-cropped -2.jpg');
  }
  
  .welcome-carousel-image3{
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
    background-image:url('../images/wallpaperflare-cropped-3.jpg');
  }

  .prod-carousel-caption2, .prod-carousel-caption3{
    position: relative;
    top: 100px;
    right: 10px;
}
.nav-link, .navbar-brand, .nav-item {
    font-size: 20px;
}
.container-text{
    font-size: 20px;
}
.footer{
    height: 80px;
    background-color: #f9d83f;
}

.fab{
    padding-top: 20px!;
}